body{
    background-color: rgb(32, 31, 31);
    word-break: break-all;
}


*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input:invalid {
    text-decoration: none;
}

/*contiene toda la app*/
.LPTRacker{
    background-color: rgb(41, 41, 41);
}

/*Contiene el NavBar(navWeb) con logo y buscador*/
.navWeb{
    background-color: rgb(32, 31, 31);
    color: white;
    border: none;
}

.lpLogo{
    font-size: 2rem;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

.trackerLogo{
    font-size: 2rem;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(rgb(115, 180, 245), rgb(22, 22, 180));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputsContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.6rem;
}

.inputSummonerName{
    border: none;
    border-radius: 0.4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    padding: 0.3rem;
    margin-top: 0.4rem;
    transition: 500ms;
    background-color: rgb(199, 197, 197);
}

.inputSummonerName:focus{
    background-color: rgb(236, 235, 235);
}

.inputTag{
    border: none;
    outline: none;
    outline: none;
    padding: 0.3rem;
    margin-top: 0.4rem;
    width: 3rem;
    transition: 500ms;
    background-color: rgb(199, 197, 197);
}

.inputTag:focus{
    background-color: rgb(236, 235, 235);
}

.searchButton{
    border: none;
    outline: none;
    outline: none;
    border-radius: 0.4rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.3rem;
    margin-top: 0.4rem;
    width: 2rem;
    transition: 500ms;
    background-color: rgb(199, 197, 197);
}

.searchButton:hover{
    background-color: rgb(236, 235, 235);
}
.searchButton:active{
    background-color: rgb(210, 250, 250);
}

.notFoundComponent{
    word-break: normal;
    text-align: center;
}

/* Esta dentro de LPTRacker. Contiene navbody, sidebarleft y sidebarright */
.bodyContainer{
    width: 75%;
    background-color: rgb(37, 37, 37);
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 1rem;
    border-radius: 1rem;
}

/*Contiene la foto de perfil nombre y rango*/
.navBody{
    display: flex;
    height: 6rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(32, 31, 31);
    color: white;
    font-weight: 500;
    word-break: break-all;
}

.summonerNameNavBody{
    margin-left: 1rem;
    width: 100%;
}

.sumIcon{
    height: auto;
    width: 6rem;
    border-radius: 0.3rem;
}


.rankDiv{
    margin-top: -1rem ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rankIcon{
    height: 80px;
    width: 80px;

}


/*Contiene sidebarleft y sidebarrigh*/
.LPTBody{
    background-color: rgb(32, 31, 31);
    border-radius: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
}


/*contiene boton de cuenta y tack de pl*/
.sideBarLeft{
    border-radius: 1rem;
    height: 100%;
    padding-bottom: 1rem;
}


.lpBalance{
    padding-top: 1rem;
    height: 4rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.refreshButton{
    width: 15rem;
    font-size: 1rem;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 0 auto;
}

.refreshButton:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.lpCount{
    color: white;
    padding-bottom: 0.3rem;
    height: 4rem;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
}

.lpCountWin{
    color: rgb(51, 179, 19);
    font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.lpCountLoss{
    color: rgb(184, 13, 13);
    font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.lpCountEven{
    color: rgb(120, 122, 119);
    font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.trackCount{
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.buttonContainer{
    border-radius: 1rem;
}

.countButton {
    width: 15rem;
    height: 10rem;
    font-size: 2rem;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;
}
  
.countButton:active {
  box-shadow: none;
    transform: translate(3px, 3px);
}

.WLCount{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.emptyBody{
    word-break: normal;
    color: white;
    background-color: rgb(32, 31, 31);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.emptyLeft{
    width: 20rem;
    height: 18rem;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-radius: 0.5rem;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 2px 2px #fafafa;
}

.emptyLeft div{
    margin: 0.5rem;
    padding-bottom: 3px;
}

.emptyRight{
    overflow: hidden;
    width: auto;
    height: 18rem;
    border-radius: 0.5rem;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 2px 2px #fafafa;
}

@keyframes randomMove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-150px, 0px);
    }
    50% {
        transform: translate(-100px, -310px);
    }
    75% {
        transform: translate(-50px, -155px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.emptyRight img{
    animation-name: randomMove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.famousProfiles{
    word-break: normal;
    margin-top: 1rem;
    color: white;
}

.profiles{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.profiles div{
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition:  background-color 0.5s, border-color 0.5s, border-width 0.5s;
    border: 0px solid;
}

.profiles div:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: rgb(70, 69, 69);
}

.profiles div:active{
    background-color: rgb(107, 104, 104);
}

.profiles div img {
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
}

/*Contiene las cards de las partidas anteriores*/
.sideBarRight{
    border-radius: 1rem;
    height: 100%;
}

.matchContainer {
    margin: 0 auto;
    margin-top: -0.4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem 0.5rem;
  }

.matchCard{
    border: 2px solid white;
    border-radius: 0.7rem;
    color: rgb(49, 48, 48);
    height: 6rem;
    display: flex;
    padding: 0.3rem;
    font-weight: bold;
    margin: 0.3rem;
}

.champImg{
    height: 5rem;
    flex-shrink: 1;
}

.matchInfo{
    font-size: 1rem;
    margin-left: 0.3rem;
}

.matchInfo p{
    margin: 0;
}

.win{
    background-color: rgb(102, 162, 218);
}
.matchLpWin{
    color: rgb(11, 107, 2);
}
.loss{
    background-color: rgb(236, 125, 125);
}
.matchLpLoss{
    color: rgb(141, 13, 13);
}
.remake{
    background-color: rgb(143, 141, 141);
}
.matchLpRemake{
    color: #3d3d3d;
}

/*se muestra cuando todavia no se busco perfil o cuando el pefil no tiene partidas*/
.emptySideBar{
    background-color: rgb(32, 31, 31);
    color: white;
    border: 2px solid grey;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

/*footer de toda la pagina*/
.footerWeb{
    background-color: rgb(32, 31, 31);
    color: rgb(182, 182, 182);
    font-size: 0.8rem;
    font-weight: 200;
    word-break: normal;
    margin-top: 5rem;
}

@media( width: 2040px){
    .searchButton{
        position: fixed;
    }
}

@media( max-width: 1078px){
    .matchInfo{
        font-size: 0.8rem;
    }
}

@media( max-width: 1024px){
    .matchInfo{
        font-size: 0.8rem;
    }
}

@media( max-width: 991px){
    .emptySideBar{
        width: 100%;
    }
    .fullLogo{
        text-align: center;
    }
    .introLPT{
        text-align: center;
    }
    .inputsContainer{
        justify-content: center;
    }
}

@media( max-width: 815px){
    .emptyBody{
        flex-direction: column;
    }
    .emptyLeft{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}

@media( max-width: 620px){
    .profiles{
        flex-wrap: wrap;
    }
}

@media( max-width: 450px){
    .emptyRight{
        display: none;
    }
}

@media( max-width: 430px){
    .countButton{
        border-radius: 1rem;
        width: 100%;
        height: 5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .buttonContainer{
        height: auto;
    }
    .rankDiv{
        display: none;
    }
    .champImg{
        height: 2.5rem;
    }
    .matchCard{
        height: 4.2rem;
    }
}

@media( max-width: 410px ){
    .WLCount{
        font-size: 1rem;
    }
}

@media( max-width: 390px){
    .lpCountWin, .lpCountLoss, .lpCountEven{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: -1.5rem;
    }
}

@media( max-width: 375px) {
    .rankDiv{
        display: none;
    }
    .WLCount{
        font-size: 0.8rem;
    }
}

@media( max-width: 360px) {
    .rankDiv{
        display: none;
    }
    .sumIcon{
        display: none;
    }
}

@media( max-width: 352px){
    .lpBalance{
        font-size: 1rem;
    }
    .trackCount{
        font-size: 0.8rem;
    }
}

@media( max-width: 352px){
    .matchInfo{
        font-size: 0.6rem;
    }
}

@media( max-width: 328px){
    .inputSummonerName{
        border-radius: 0.4rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 80%;
    }
    .inputTag{
        border-radius: 0.4rem;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: 20%;
    }
    .searchButton{
        border-radius: 0.4rem;
        width: 100%;
    }
    .matchInfo{
        font-size: 0.6rem;
    }
    .matchCard{
        height: 3.8rem;
    }
}

@media (min-width: 740px) and (max-width: 991px) {
  .matchContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
